// @import "bootstrap";

.share-dollars {
  position: absolute;
  top: 7px;
  right: 22px;
  margin-left: 10px;
}

.table-striped tbody tr {
  td {
    white-space: nowrap;
  }

  cursor: pointer;
  &.highlight td { background-color: lighten($brand-warning, 30%); }
}
